@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_DashboardLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage Power BI Embedded and Workspaces (V2)</p>
</div>
